html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    scroll-behavior: smooth; 
    overflow-y:scroll;
}

/* --- Hero Section Styling --- */
.menu {
   color:white;
   display:flex;
   justify-content: center;
   gap:70px;
   padding:30px;
   font-weight:bold;
}
.hero-section{
    position:relative;/*for absolute children*/
    background-color:black;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;

}
.vid1{
    overflow:hidden;
    object-fit:cover;
    min-height:300px;
    padding-bottom:20px;
    width:97%;
    padding-left:20px;
    padding-right:20px;
    border-radius:3%;
    

    
}
.content{
    color:white;
   
}